@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #09090b;
}

.card-wrapper::-webkit-scrollbar {
  width: 4px;
}
.card-wrapper::-webkit-scrollbar-track {
  background-color: #030712;
}
.card-wrapper::-webkit-scrollbar-thumb {
  background-color: #7c3aed;
  border-radius: 5px;
}
